gunicorn
Flask==3.0.0
Flask-CORS==4.0.0
python-dotenv==1.0.0
mysql-connector-python==8.2.0
plotly==5.17.0
numpy==1.26.4
pandas==2.0.3
Werkzeug==3.0.1
APScheduler
flask-compress
scipy==1.10.1
scikit-learn==1.6.1
requests
markdown
bleach
flask-limiter
flask-wtf
flask-talisman
email-validator==2.0.0
cryptography==41.0.4
redis==5.0.1
itsdangerous==2.1.2